<ion-header>
  <ion-toolbar>
    <ion-title>Crear Alarma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" [routerLink]="['/tiempo']">Lunes</ion-button>
  <ion-button expand="block">Martes</ion-button>
  <ion-button expand="block">Miercoles</ion-button>
  <ion-button expand="block">Jueves</ion-button>
  <ion-button expand="block">Viernes</ion-button>
  <ion-button expand="block">Sabado</ion-button>
  <ion-button expand="block">Domingo</ion-button>


  <ion-button>Guardar</ion-button>
</ion-content>
